body {

    padding: 0;
    margin: 0;
    
    width: 100vw;
    height: 100vh;
}

.App {

    width: 100%;
    height: 100vh;
}

::-webkit-file-upload-button {

    padding: 0.5rem;
    color: #FFFFFF;
    background: #7B2CBF;
    border: 1px solid #7B2CBF;
    border-radius: 5px;
    font-size: 10px;
}

::-webkit-scrollbar {
    display: none;
}